@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&family=Bebas+Neue&display=swap');
@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-one .line {
	transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
	transform-origin: center;
}

.menu-one[aria-expanded="true"] .line {
	transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.menu-one[aria-expanded="true"] :is(.top, .bottom) {
	y: 45;
}

.menu-one[aria-expanded="true"] .middle {
	opacity: 0;
}

.menu-one[aria-expanded="true"] .top {
	rotate: 45deg;
}

.menu-one[aria-expanded="true"] .bottom {
	rotate: -45deg;
}

@keyframes to-close-icon {
	0% {
		stroke-dashoffset: 0;
	}
	40% {
		stroke-dashoffset: 59.9;
	}
	60% {
		stroke-dashoffset: 59.9;
		rotate: var(--rotation);
	}
	100% {
		stroke-dashoffset: 0;
		rotate: var(--rotation);
	}
}

@keyframes to-open-icon {
	0% {
		stroke-dashoffset: 0;
		rotate: var(--rotation);
	}
	40% {
		stroke-dashoffset: 59.9;
		rotate: var(--rotation);
	}
	60% {
		stroke-dashoffset: 59.9;
	}
	100% {
		stroke-dashoffset: 0;
	}
}
